    <div class="inner">
        <a href="#" class="back button" alt="Back" title="Back"><span class="icon arrow-l"></span>Back</a>
        <a href="#" class="next button" alt="Next" title="Next"><span class="icon arrow-r"></span>Forward</a>
    </div>