<div class="inner">
    <div class="widget">
        <div class="nav">
            <a href="#" class="button open">
                {{{button.open}}}
            </a>
        </div>
        <iframe class="captivateContainer" src="./captivate.html"></iframe>
    </div>
</div>