<div class="inner">
    <a href="#" class="icon tools" alt="Tools" title="Tools"></a>
    <a href="#" class="icon tutor" alt="Tutor" title="Tutor"></a>
    <a href="#" class="icon menu list" alt="Menu" title="Menu"></a>
</div>