<div class="inner clearfix">
    
    <div class="search">
        <input type="text">
        <a href="#" class="icon search" title="Search" alt="Search"></a>
    </div>
    
    <div class="nav">
        <div class="inner clearfix">
            <a href="#" class="tab resources" alt="Resources">
                <div class="resources icon"></div>
                <div class="label">Resources</div>
            </a>
            <a href="#" class="tab settings" alt="Settings">
                <div class="settings icon"></div>
                <div class="label">Settings</div>
            </a>
            <a href="#" class="tab guide" alt="Guide">
                <div class="guide icon"></div>
                <div class="label">Guide</div>
            </a>
        </div>
    </div>
    
    <div class="body">
        <div class="inner">
        
        </div>
    </div>
    
</div>
