<div class="pin">
    </div>
    <a href="#" class="done">
        <div class="icon close"></div>
    </a>
    <div class="inner">
        <div class="title">
            <h6 class="inner">
                {{{title}}}
            </h6>
        </div>
        <div class="body">
            <p class="inner">{{{message}}} {{#if score}}{{score}}{{/if}}</p>
        </div>
    </div>